/* font */
$primary-eng : "Red Hat Display", sans-serif;
$primary-kr : "Noto Sans KR", sans-serif;
$secondary-kr : 'Pretendard-Regular';

/* color */
$main-color : #0134FF;
$yellow : #F4E357;
$green : #88EF59;
$skyblue : #7ED6FF;
$purple : #3E35F4;
$white : #fff;
$gray : #e7e7e7;

/* font-size */
$text : 15px;
$title : 75px;
$sub-title : 21px;